body {
    background-color: rgb(223, 226, 43)
    
}

p {
background-color: rgb(89, 255, 0);
}
nav a {
    margin-top: 5px;
     padding: 2px;
     font-size: 20px;
     text-decoration: none;
     color:rgba(4, 0, 255, 0.192)
 }
 h1 {    
.tarde {
    font-style:italic
}
h1{text-align: left;}

.img1 {
    width: 64%
}




